@model  WebApplication2.Ingredient
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <input type="text" asp-for="Name" class="form-control ingredients"/>
    <input type="text" asp-for="Unit" class="form-control ingredients"/>
</div>