@page "/"
@inject IJSRuntime JS

@using WebApplication2.Pages.Shared
@using Microsoft.JSInterop
@model IndexModel
@{
    Layout = "Shared/_Layout.cshtml";
}

    <script type="text/javascript">
document.write(5 + 8);
</script>
@*<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>*@